<a href="https://colab.research.google.com/github/peisbelb/module1-codexes-claims-analysis/blob/main/DMS_CMS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
df = pd.read_csv('https://data.cms.gov/sites/default/files/2023-04/647931dd-f8ea-423a-98a3-655e586a7c1f/dme.csv')

In [6]:
df

       BENE_ID|CLM_ID|NCH_NEAR_LINE_REC_IDENT_CD|NCH_CLM_TYPE_CD|CLM_FROM_DT|CLM_THRU_DT|NCH_WKLY_PROC_DT|CARR_CLM_ENTRY_CD|CLM_DISP_CD|CARR_NUM|CARR_CLM_PMT_DNL_CD|CLM_PMT_AMT|CARR_CLM_PRMRY_PYR_PD_AMT|CARR_CLM_PRVDR_ASGNMT_IND_SW|NCH_CLM_PRVDR_PMT_AMT|NCH_CLM_BENE_PMT_AMT|NCH_CARR_CLM_SBMTD_CHRG_AMT|NCH_CARR_CLM_ALOWD_AMT|CARR_CLM_CASH_DDCTBL_APLD_AMT|CARR_CLM_HCPCS_YR_CD|PRNCPAL_DGNS_CD|PRNCPAL_DGNS_VRSN_CD|ICD_DGNS_CD1|ICD_DGNS_VRSN_CD1|ICD_DGNS_CD2|ICD_DGNS_VRSN_CD2|ICD_DGNS_CD3|ICD_DGNS_VRSN_CD3|ICD_DGNS_CD4|ICD_DGNS_VRSN_CD4|ICD_DGNS_CD5|ICD_DGNS_VRSN_CD5|ICD_DGNS_CD6|ICD_DGNS_VRSN_CD6|ICD_DGNS_CD7|ICD_DGNS_VRSN_CD7|ICD_DGNS_CD8|ICD_DGNS_VRSN_CD8|ICD_DGNS_CD9|ICD_DGNS_VRSN_CD9|ICD_DGNS_CD10|ICD_DGNS_VRSN_CD10|ICD_DGNS_CD11|ICD_DGNS_VRSN_CD11|ICD_DGNS_CD12|ICD_DGNS_VRSN_CD12|RFR_PHYSN_UPIN|RFR_PHYSN_NPI|CLM_CLNCL_TRIL_NUM|LINE_NUM|TAX_NUM|PRVDR_SPCLTY|PRTCPTNG_IND_CD|LINE_SRVC_CNT|LINE_CMS_TYPE_SRVC_CD|LINE_PLACE_OF_SRVC_CD|LINE_1ST_EXPNS_DT|LINE_LAST_EXPNS_DT|HCPCS_CD|HCPCS_1ST_MDFR_CD|HCPCS_2ND_MDFR_CD|BETOS_CD|LINE_NCH_PMT_AMT|LINE_BENE_PMT_AMT|LINE_PRVDR_PMT_AMT|LINE_BENE_PTB_DDCTBL_AMT|LINE_BENE_PRMRY_PYR_CD|LINE_BENE_PRMRY_PYR_PD_AMT|LINE_PRMRY_ALOWD_CHRG_AMT|LINE_SBMTD_CHRG_AMT|LINE_ALOWD_CHRG_AMT|LINE_PRCSG_IND_CD|LINE_PMT_80_100_CD|LINE_SERVICE_DEDUCTIBLE|LINE_ICD_DGNS_VRSN_CD|PRVDR_NUM|PRVDR_NPI|DMERC_LINE_PRCNG_STATE_CD|PRVDR_STATE_CD|DMERC_LINE_SUPPLR_TYPE_CD|HCPCS_3RD_MDFR_CD|HCPCS_4TH_MDFR_CD|DMERC_LINE_SCRN_SVGS_AMT|DMERC_LINE_MTUS_CNT|DMERC_LINE_MTUS_CD|LINE_HCT_HGB_RSLT_NUM|LINE_NDC_CD
0       -10000010254618|-10000930037927|M|82|25-Mar-20...
1       -10000010254618|-10000930037958|M|82|03-Oct-20...
2       -10000010254618|-10000930037981|M|82|15-Oct-20...
3       -10000010254618|-10000930037986|M|82|21-Oct-20...
4       -10000010254618|-10000930037994|M|82|26-Oct-20...
...                                                   ...
103823  -10000010288010|-10000931486121|M|82|23-Feb-20...
103824  -10000010288010|-10000931486126|M|82|21-Jun-20...
103825  -10000010288010|-10000931486126|M|82|21-Jun-20...
103826  -10000010288010|-10000931486134|M|82|27-Jun-20...
103827  -10000010288010|-10000931486137|M|82|03-Jul-20...

[103828 rows x 1 columns]

In [7]:
df = pd.read_csv('https://data.cms.gov/sites/default/files/2023-04/647931dd-f8ea-423a-98a3-655e586a7c1f/dme.csv', sep = '|')

In [8]:
df

,BENE_ID,CLM_ID,NCH_NEAR_LINE_REC_IDENT_CD,NCH_CLM_TYPE_CD,CLM_FROM_DT,CLM_THRU_DT,NCH_WKLY_PROC_DT,CARR_CLM_ENTRY_CD,CLM_DISP_CD,CARR_NUM,...,DMERC_LINE_PRCNG_STATE_CD,PRVDR_STATE_CD,DMERC_LINE_SUPPLR_TYPE_CD,HCPCS_3RD_MDFR_CD,HCPCS_4TH_MDFR_CD,DMERC_LINE_SCRN_SVGS_AMT,DMERC_LINE_MTUS_CNT,DMERC_LINE_MTUS_CD,LINE_HCT_HGB_RSLT_NUM,LINE_NDC_CD
0,-10000010254618,-10000930037927,M,82,25-Mar-2015,25-Mar-2015,24-Apr-2015,1,1,510,...,1,1,8,NaN,NaN,0,NaN,0,0.0,NaN
1,-10000010254618,-10000930037958,M,82,03-Oct-2016,03-Oct-2016,07-Oct-2016,1,1,510,...,1,1,6,NaN,NaN,0,50.0,0,0.0,NaN
2,-10000010254618,-10000930037981,M,82,15-Oct-2018,15-Oct-2018,19-Oct-2018,1,1,510,...,1,1,1,NaN,NaN,0,50.0,0,0.0,NaN
3,-10000010254618,-10000930037986,M,82,21-Oct-2019,21-Oct-2019,25-Oct-2019,1,1,510,...,1,1,6,NaN,NaN,0,50.0,0,0.0,NaN
4,-10000010254618,-10000930037994,M,82,26-Oct-2020,26-Oct-2020,30-Oct-2020,1,1,510,...,1,1,4,NaN,NaN,0,50.0,0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103823,-10000010288010,-10000931486121,M,82,23-Feb-2020,23-Feb-2020,28-Feb-2020,1,1,2050,...,5,5,2,NaN,NaN,0,100.0,0,0.0,NaN
103824,-10000010288010,-10000931486126,M,82,21-Jun-2020,21-Jun-2020,26-Jun-2020,1,1,2050,...,5,5,3,NaN,NaN,0,50.0,0,0.0,NaN
103825,-10000010288010,-10000931486126,M,82,21-Jun-2020,21-Jun-2020,26-Jun-2020,1,1,2050,...,5,5,3,NaN,NaN,0,100.0,0,0.0,NaN
103826,-10000010288010,-10000931486134,M,82,27-Jun-2021,27-Jun-2021,02-Jul-2021,1,1,2050,...,5,5,8,NaN,NaN,0,50.0,0,0.0,NaN
103827,-10000010288010,-10000931486137,M,82,03-Jul-2022,03-Jul-2022,08-Jul-2022,1,1,2050,...,5,5,8,NaN,NaN,0,50.0,0,0.0,NaN

In [9]:
df.sample(25)

,BENE_ID,CLM_ID,NCH_NEAR_LINE_REC_IDENT_CD,NCH_CLM_TYPE_CD,CLM_FROM_DT,CLM_THRU_DT,NCH_WKLY_PROC_DT,CARR_CLM_ENTRY_CD,CLM_DISP_CD,CARR_NUM,...,DMERC_LINE_PRCNG_STATE_CD,PRVDR_STATE_CD,DMERC_LINE_SUPPLR_TYPE_CD,HCPCS_3RD_MDFR_CD,HCPCS_4TH_MDFR_CD,DMERC_LINE_SCRN_SVGS_AMT,DMERC_LINE_MTUS_CNT,DMERC_LINE_MTUS_CD,LINE_HCT_HGB_RSLT_NUM,LINE_NDC_CD
68870,-10000010275400,-10000930972020,M,82,06-Nov-2017,06-Nov-2017,10-Nov-2017,1,1,522,...,37,37,5,NaN,NaN,0,1.0,0,0.0,NaN
52134,-10000010270365,-10000930728331,M,82,03-Dec-2016,03-Dec-2016,09-Dec-2016,1,1,521,...,32,32,1,NaN,NaN,0,1.0,0,0.0,NaN
63882,-10000010273940,-10000930898927,M,82,06-May-2022,06-May-2022,13-May-2022,1,1,883,...,36,36,5,NaN,NaN,0,NaN,0,0.0,NaN
52470,-10000010270630,-10000930738063,M,82,11-Oct-2022,11-Oct-2022,14-Oct-2022,1,1,801,...,33,33,6,NaN,NaN,0,1.0,0,0.0,NaN
27794,-10000010262704,-10000930403026,M,82,03-Jun-2015,03-Jun-2015,05-Jun-2015,1,1,630,...,15,15,6,NaN,NaN,0,1.0,0,0.0,NaN
65502,-10000010274668,-10000930936865,M,82,26-Apr-2022,26-Apr-2022,13-May-2022,1,1,883,...,36,36,5,NaN,NaN,0,NaN,0,0.0,NaN
40591,-10000010266874,-10000930581114,M,82,21-Mar-2020,21-Mar-2020,27-Mar-2020,1,1,953,...,23,23,0,NaN,NaN,0,5.0,0,0.0,NaN
25601,-10000010262379,-10000930384253,M,82,28-May-2019,28-May-2019,31-May-2019,1,1,952,...,14,14,0,NaN,NaN,0,NaN,0,0.0,NaN
65075,-10000010274404,-10000930918838,M,82,21-Nov-2019,21-Nov-2019,22-Nov-2019,1,1,883,...,36,36,6,NaN,NaN,0,1.0,0,0.0,NaN
26363,-10000010262514,-10000930389477,M,82,08-May-2015,08-May-2015,15-May-2015,1,1,630,...,15,15,6,NaN,NaN,0,1.0,0,0.0,NaN
85173,-10000010280804,-10000931198875,M,82,14-Jul-2016,14-Jul-2016,15-Jul-2016,1,1,900,...,45,45,6,NaN,NaN,0,50.0,0,0.0,NaN
78290,-10000010278053,-10000931102269,M,82,24-Dec-2016,24-Dec-2016,30-Dec-2016,1,1,5440,...,44,44,7,NaN,NaN,0,5.0,0,0.0,NaN
87267,-10000010281743,-10000931232172,M,82,26-Jun-2015,26-Jun-2015,03-Jul-2015,1,1,31145,...,47,47,6,NaN,NaN,0,1.0,0,0.0,NaN
73753,-10000010277080,-10000931055476,M,82,03-Nov-2021,03-Nov-2021,05-Nov-2021,1,1,865,...,39,39,0,NaN,NaN,0,1.0,0,0.0,NaN
38476,-10000010266050,-10000930545146,M,82,16-Aug-2019,16-Aug-2019,23-Aug-2019,1,1,31143,...,22,22,2,NaN,NaN,0,1.0,0,0.0,NaN
37425,-10000010265746,-10000930533274,M,82,11-Jun-2020,11-Jun-2020,12-Jun-2020,1,1,31143,...,22,22,6,NaN,NaN,0,1.0,0,0.0,NaN
18692,-10000010259790,-10000930273635,M,82,25-May-2016,25-May-2016,27-May-2016,1,1,590,...,10,10,8,NaN,NaN,0,100.0,0,0.0,NaN
30632,-10000010263379,-10000930432622,M,82,08-Feb-2020,08-Feb-2020,14-Feb-2020,1,1,640,...,16,16,3,NaN,NaN,0,100.0,0,0.0,NaN
5878,-10000010256857,-10000930131795,M,82,19-Aug-2022,19-Aug-2022,26-Aug-2022,1,1,591,...,7,7,4,NaN,NaN,0,5.0,0,0.0,NaN
41230,-10000010267056,-10000930587623,M,82,30-Nov-2019,30-Nov-2019,06-Dec-2019,1,1,953,...,23,23,1,NaN,NaN,0,1.0,0,0.0,NaN
41046,-10000010266993,-10000930584787,M,82,26-Oct-2022,26-Oct-2022,28-Oct-2022,1,1,953,...,23,23,0,NaN,NaN,0,50.0,0,0.0,NaN
37366,-10000010265726,-10000930533114,M,82,07-Jul-2020,07-Jul-2020,10-Jul-2020,1,1,31143,...,22,22,1,NaN,NaN,0,1.0,0,0.0,NaN
9233,-10000010257811,-10000930169146,M,82,04-Oct-2021,04-Oct-2021,08-Oct-2021,1,1,590,...,10,10,3,NaN,NaN,0,1.0,0,0.0,NaN
1119,-10000010254979,-10000930051407,M,82,30-Oct-2018,30-Oct-2018,02-Nov-2018,1,1,510,...,1,1,7,NaN,NaN,0,NaN,0,0.0,NaN
17752,-10000010259685,-10000930267441,M,82,05-Apr-2018,05-Apr-2018,06-Apr-2018,1,1,590,...,10,10,7,NaN,NaN,0,5.0,0,0.0,NaN

In [10]:
### now lets look at column name
df.columns ##variable name we gave to the data set

Index(['BENE_ID', 'CLM_ID', 'NCH_NEAR_LINE_REC_IDENT_CD', 'NCH_CLM_TYPE_CD',
       'CLM_FROM_DT', 'CLM_THRU_DT', 'NCH_WKLY_PROC_DT', 'CARR_CLM_ENTRY_CD',
       'CLM_DISP_CD', 'CARR_NUM', 'CARR_CLM_PMT_DNL_CD', 'CLM_PMT_AMT',
       'CARR_CLM_PRMRY_PYR_PD_AMT', 'CARR_CLM_PRVDR_ASGNMT_IND_SW',
       'NCH_CLM_PRVDR_PMT_AMT', 'NCH_CLM_BENE_PMT_AMT',
       'NCH_CARR_CLM_SBMTD_CHRG_AMT', 'NCH_CARR_CLM_ALOWD_AMT',
       'CARR_CLM_CASH_DDCTBL_APLD_AMT', 'CARR_CLM_HCPCS_YR_CD',
       'PRNCPAL_DGNS_CD', 'PRNCPAL_DGNS_VRSN_CD', 'ICD_DGNS_CD1',
       'ICD_DGNS_VRSN_CD1', 'ICD_DGNS_CD2', 'ICD_DGNS_VRSN_CD2',
       'ICD_DGNS_CD3', 'ICD_DGNS_VRSN_CD3', 'ICD_DGNS_CD4',
       'ICD_DGNS_VRSN_CD4', 'ICD_DGNS_CD5', 'ICD_DGNS_VRSN_CD5',
       'ICD_DGNS_CD6', 'ICD_DGNS_VRSN_CD6', 'ICD_DGNS_CD7',
       'ICD_DGNS_VRSN_CD7', 'ICD_DGNS_CD8', 'ICD_DGNS_VRSN_CD8',
       'ICD_DGNS_CD9', 'ICD_DGNS_VRSN_CD9', 'ICD_DGNS_CD10',
       'ICD_DGNS_VRSN_CD10', 'ICD_DGNS_CD11', 'ICD_DGNS_VRSN_CD11',
       'ICD_DGNS_CD12', 'ICD_DGNS_VRSN_CD12', 'RFR_PHYSN_UPIN',
       'RFR_PHYSN_NPI', 'CLM_CLNCL_TRIL_NUM', 'LINE_NUM', 'TAX_NUM',
       'PRVDR_SPCLTY', 'PRTCPTNG_IND_CD', 'LINE_SRVC_CNT',
       'LINE_CMS_TYPE_SRVC_CD', 'LINE_PLACE_OF_SRVC_CD', 'LINE_1ST_EXPNS_DT',
       'LINE_LAST_EXPNS_DT', 'HCPCS_CD', 'HCPCS_1ST_MDFR_CD',
       'HCPCS_2ND_MDFR_CD', 'BETOS_CD', 'LINE_NCH_PMT_AMT',
       'LINE_BENE_PMT_AMT', 'LINE_PRVDR_PMT_AMT', 'LINE_BENE_PTB_DDCTBL_AMT',
       'LINE_BENE_PRMRY_PYR_CD', 'LINE_BENE_PRMRY_PYR_PD_AMT',
       'LINE_PRMRY_ALOWD_CHRG_AMT', 'LINE_SBMTD_CHRG_AMT',
       'LINE_ALOWD_CHRG_AMT', 'LINE_PRCSG_IND_CD', 'LINE_PMT_80_100_CD',
       'LINE_SERVICE_DEDUCTIBLE', 'LINE_ICD_DGNS_VRSN_CD', 'PRVDR_NUM',
       'PRVDR_NPI', 'DMERC_LINE_PRCNG_STATE_CD', 'PRVDR_STATE_CD',
       'DMERC_LINE_SUPPLR_TYPE_CD', 'HCPCS_3RD_MDFR_CD', 'HCPCS_4TH_MDFR_CD',
       'DMERC_LINE_SCRN_SVGS_AMT', 'DMERC_LINE_MTUS_CNT', 'DMERC_LINE_MTUS_CD',
       'LINE_HCT_HGB_RSLT_NUM', 'LINE_NDC_CD'],
      dtype='object')

In [11]:
for column in df.columns:
    print(column) ####change the name, it could be x, column, just a place holder.

BENE_ID
CLM_ID
NCH_NEAR_LINE_REC_IDENT_CD
NCH_CLM_TYPE_CD
CLM_FROM_DT
CLM_THRU_DT
NCH_WKLY_PROC_DT
CARR_CLM_ENTRY_CD
CLM_DISP_CD
CARR_NUM
CARR_CLM_PMT_DNL_CD
CLM_PMT_AMT
CARR_CLM_PRMRY_PYR_PD_AMT
CARR_CLM_PRVDR_ASGNMT_IND_SW
NCH_CLM_PRVDR_PMT_AMT
NCH_CLM_BENE_PMT_AMT
NCH_CARR_CLM_SBMTD_CHRG_AMT
NCH_CARR_CLM_ALOWD_AMT
CARR_CLM_CASH_DDCTBL_APLD_AMT
CARR_CLM_HCPCS_YR_CD
PRNCPAL_DGNS_CD
PRNCPAL_DGNS_VRSN_CD
ICD_DGNS_CD1
ICD_DGNS_VRSN_CD1
ICD_DGNS_CD2
ICD_DGNS_VRSN_CD2
ICD_DGNS_CD3
ICD_DGNS_VRSN_CD3
ICD_DGNS_CD4
ICD_DGNS_VRSN_CD4
ICD_DGNS_CD5
ICD_DGNS_VRSN_CD5
ICD_DGNS_CD6
ICD_DGNS_VRSN_CD6
ICD_DGNS_CD7
ICD_DGNS_VRSN_CD7
ICD_DGNS_CD8
ICD_DGNS_VRSN_CD8
ICD_DGNS_CD9
ICD_DGNS_VRSN_CD9
ICD_DGNS_CD10
ICD_DGNS_VRSN_CD10
ICD_DGNS_CD11
ICD_DGNS_VRSN_CD11
ICD_DGNS_CD12
ICD_DGNS_VRSN_CD12
RFR_PHYSN_UPIN
RFR_PHYSN_NPI
CLM_CLNCL_TRIL_NUM
LINE_NUM
TAX_NUM
PRVDR_SPCLTY
PRTCPTNG_IND_CD
LINE_SRVC_CNT
LINE_CMS_TYPE_SRVC_CD
LINE_PLACE_OF_SRVC_CD
LINE_1ST_EXPNS_DT
LINE_LAST_EXPNS_DT
HCPCS_CD
HCPCS_1ST_MDFR_CD
HCPCS_2ND_MDFR_CD
BETOS_CD
LINE_NCH_PMT_AMT
LINE_BENE_PMT_AMT
LINE_PRVDR_PMT_AMT
LINE_BENE_PTB_DDCTBL_AMT
LINE_BENE_PRMRY_PYR_CD
LINE_BENE_PRMRY_PYR_PD_AMT
LINE_PRMRY_ALOWD_CHRG_AMT
LINE_SBMTD_CHRG_AMT
LINE_ALOWD_CHRG_AMT
LINE_PRCSG_IND_CD
LINE_PMT_80_100_CD
LINE_SERVICE_DEDUCTIBLE
LINE_ICD_DGNS_VRSN_CD
PRVDR_NUM
PRVDR_NPI
DMERC_LINE_PRCNG_STATE_CD
PRVDR_STATE_CD
DMERC_LINE_SUPPLR_TYPE_CD
HCPCS_3RD_MDFR_CD
HCPCS_4TH_MDFR_CD
DMERC_LINE_SCRN_SVGS_AMT
DMERC_LINE_MTUS_CNT
DMERC_LINE_MTUS_CD
LINE_HCT_HGB_RSLT_NUM
LINE_NDC_CD

In [12]:
# df.PRNCPAL_DGNS_CD
# df['PRNCPAL_DGNS_CD']

In [13]:
df['PRNCPAL_DGNS_CD']

0         S134XX
1          Z9189
2           Z591
3         T7432X
4         T7422X
           ...
103823      Z608
103824      Z608
103825      Z608
103826      Z608
103827      Z733
Name: PRNCPAL_DGNS_CD, Length: 103828, dtype: object

In [14]:
#### get unique count of CLM_ID
count = df.CLM_ID.unique()
len(count) #unique names! This is not the unit of analysis or least common denominator?? important to understand what each row means

37782

In [15]:
df['PRNCPAL_DGNS_CD']. value_counts() ##most frequent/least frequent ICD 10 codes

PRNCPAL_DGNS_CD
Z733       33868
Z608       19905
T7432X      9038
Z604        8334
G479        1527
           ...
E113599        1
Z7689          1
Z558           1
Z9189          1
N390           1
Name: count, Length: 212, dtype: int64

In [16]:
icd_primary_counts = df['PRNCPAL_DGNS_CD']. value_counts()

In [17]:
icd_primary_counts

PRNCPAL_DGNS_CD
Z733       33868
Z608       19905
T7432X      9038
Z604        8334
G479        1527
           ...
E113599        1
Z7689          1
Z558           1
Z9189          1
N390           1
Name: count, Length: 212, dtype: int64

In [18]:
type(icd_primary_counts)

pandas.core.series.Series

In [19]:
type(df)

pandas.core.frame.DataFrame

In [20]:
df.dtypes ##dtypes tells us whether each column is an integer or a number, not ALWAYS accurate tho so be careful.

BENE_ID                         int64
CLM_ID                          int64
NCH_NEAR_LINE_REC_IDENT_CD     object
NCH_CLM_TYPE_CD                 int64
CLM_FROM_DT                    object
                               ...
DMERC_LINE_SCRN_SVGS_AMT        int64
DMERC_LINE_MTUS_CNT           float64
DMERC_LINE_MTUS_CD              int64
LINE_HCT_HGB_RSLT_NUM         float64
LINE_NDC_CD                   float64
Length: 87, dtype: object

In [21]:
df['CLM_PMT_AMT'].describe()

count    103828.000000
mean          5.519663
std          13.418350
min           0.000000
25%           0.000000
50%           0.000000
75%           6.560000
max         128.500000
Name: CLM_PMT_AMT, dtype: float64

In [22]:
print(df.head)

<bound method NDFrame.head of                BENE_ID          CLM_ID NCH_NEAR_LINE_REC_IDENT_CD  \
0      -10000010254618 -10000930037927                          M
1      -10000010254618 -10000930037958                          M
2      -10000010254618 -10000930037981                          M
3      -10000010254618 -10000930037986                          M
4      -10000010254618 -10000930037994                          M
...                ...             ...                        ...
103823 -10000010288010 -10000931486121                          M
103824 -10000010288010 -10000931486126                          M
103825 -10000010288010 -10000931486126                          M
103826 -10000010288010 -10000931486134                          M
103827 -10000010288010 -10000931486137                          M

        NCH_CLM_TYPE_CD  CLM_FROM_DT  CLM_THRU_DT NCH_WKLY_PROC_DT  \
0                    82  25-Mar-2015  25-Mar-2015      24-Apr-2015
1                    82  03-Oct-2016  03-Oct-2016      07-Oct-2016
2                    82  15-Oct-2018  15-Oct-2018      19-Oct-2018
3                    82  21-Oct-2019  21-Oct-2019      25-Oct-2019
4                    82  26-Oct-2020  26-Oct-2020      30-Oct-2020
...                 ...          ...          ...              ...
103823               82  23-Feb-2020  23-Feb-2020      28-Feb-2020
103824               82  21-Jun-2020  21-Jun-2020      26-Jun-2020
103825               82  21-Jun-2020  21-Jun-2020      26-Jun-2020
103826               82  27-Jun-2021  27-Jun-2021      02-Jul-2021
103827               82  03-Jul-2022  03-Jul-2022      08-Jul-2022

        CARR_CLM_ENTRY_CD  CLM_DISP_CD  CARR_NUM  ...  \
0                       1            1       510  ...
1                       1            1       510  ...
2                       1            1       510  ...
3                       1            1       510  ...
4                       1            1       510  ...
...                   ...          ...       ...  ...
103823                  1            1      2050  ...
103824                  1            1      2050  ...
103825                  1            1      2050  ...
103826                  1            1      2050  ...
103827                  1            1      2050  ...

        DMERC_LINE_PRCNG_STATE_CD  PRVDR_STATE_CD  DMERC_LINE_SUPPLR_TYPE_CD  \
0                               1               1                          8
1                               1               1                          6
2                               1               1                          1
3                               1               1                          6
4                               1               1                          4
...                           ...             ...                        ...
103823                          5               5                          2
103824                          5               5                          3
103825                          5               5                          3
103826                          5               5                          8
103827                          5               5                          8

       HCPCS_3RD_MDFR_CD  HCPCS_4TH_MDFR_CD  DMERC_LINE_SCRN_SVGS_AMT  \
0                    NaN                NaN                         0
1                    NaN                NaN                         0
2                    NaN                NaN                         0
3                    NaN                NaN                         0
4                    NaN                NaN                         0
...                  ...                ...                       ...
103823               NaN                NaN                         0
103824               NaN                NaN                         0
103825               NaN                NaN                         0
103826               NaN                NaN                         0
103827               NaN                NaN                         0

        DMERC_LINE_MTUS_CNT  DMERC_LINE_MTUS_CD  LINE_HCT_HGB_RSLT_NUM  \
0                       NaN                   0                    0.0
1                      50.0                   0                    0.0
2                      50.0                   0                    0.0
3                      50.0                   0                    0.0
4                      50.0                   0                    0.0
...                     ...                 ...                    ...
103823                100.0                   0                    0.0
103824                 50.0                   0                    0.0
103825                100.0                   0                    0.0
103826                 50.0                   0                    0.0
103827                 50.0                   0                    0.0

        LINE_NDC_CD
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
...             ...
103823          NaN
103824          NaN
103825          NaN
103826          NaN
103827          NaN

[103828 rows x 87 columns]>

In [28]:
codex_columns = [
    'PRNCPAL_DGNS_CD',
    'ICD_DGNS_CD1',
    'ICD_PRCDR_CD1',
    'CLM_DRG_CD',
    'ADMTG_DGNS_CD',
    'HCPCS_CD',
    'FST_DGNS_E_CD',
    'NCH_DRG_OUTLIER_APRVD_PMT_AMT'
]
for column in codex_columns:
    print(f"Frequency counts for {column}:")
    value_counts = df[column].value_counts()
    print(df[column].value_counts())
    print("\n")

Frequency counts for PRNCPAL_DGNS_CD:
PRNCPAL_DGNS_CD
Z733       33868
Z608       19905
T7432X      9038
Z604        8334
G479        1527
           ...
E113599        1
Z7689          1
Z558           1
Z9189          1
N390           1
Name: count, Length: 212, dtype: int64


Frequency counts for ICD_DGNS_CD1:
ICD_DGNS_CD1
Z733       34103
Z608       20036
T7432X      9098
Z604        8390
Z653        1197
           ...
E113599        1
Z558           1
B9561          1
Z9189          1
O1410          1
Name: count, Length: 214, dtype: int64


Frequency counts for ICD_PRCDR_CD1:

KeyError: 'ICD_PRCDR_CD1'

In [33]:
codex_columns = [
    'PRNCPAL_DGNS_CD',
    'ICD_DGNS_CD1',
    'HCPCS_CD'
]
for column in codex_columns:
    print(f"Frequency counts for {column}:")
    value_counts = df[column].value_counts()
    print(df[column].value_counts())
    print("\n")

Frequency counts for PRNCPAL_DGNS_CD:
PRNCPAL_DGNS_CD
Z733       33868
Z608       19905
T7432X      9038
Z604        8334
G479        1527
           ...
E113599        1
Z7689          1
Z558           1
Z9189          1
N390           1
Name: count, Length: 212, dtype: int64


Frequency counts for ICD_DGNS_CD1:
ICD_DGNS_CD1
Z733       34103
Z608       20036
T7432X      9098
Z604        8390
Z653        1197
           ...
E113599        1
Z558           1
B9561          1
Z9189          1
O1410          1
Name: count, Length: 214, dtype: int64


Frequency counts for HCPCS_CD:
HCPCS_CD
A4253    18882
A7038    16295
A7035    16295
A7037     8148
A4604     8147
A7034     8137
A4259     7018
A7031     4136
A7030     4022
E0601     3371
A7046     1705
E0562     1666
K0001      972
A4256      754
E0485      718
E0570      450
E1390      383
E0260      362
E0607      317
E1038      277
K0002      241
K0003      230
K0004      230
E0261      184
E0630      127
E0163      120
E0431      119
E0143       60
K0738       55
E0971       54
E2601       50
K0195       50
E1392       49
E1028       47
K0823       46
E0110       39
K0108       34
E0973       31
E1590        6
E0610        1
Name: count, dtype: int64